<div *ngIf="cart$ | async as cart" class="mt-5 p-4">
  <div *ngFor="let item of cart.items" class="cart-item">
    <img [src]="item.url" class="cart-image" />

    <div class="cart-details">
      <h6>{{ item.name }}</h6>

      <div class="d-flex align-items-center gap-2">
        <label>Amount:</label>

        <select
          class="form-select quantity-select"
          [(ngModel)]="item.quantity"
          (ngModelChange)="updateQuantity(item.id, $event)"
        >
          <option *ngFor="let qty of quantityOptions" [value]="qty">
            {{ qty }}
          </option>
        </select>
      </div>

      <!-- <small>
        {{ item.price | currency }}
      </small> -->

      <div class="fw-bold">
        {{ item.price | currency }}
      </div>
      <button
        class="btn btn-sm btn-outline-danger mt-2 mb-3"
        (click)="removeItem(item.id)"
      >
        Remove
      </button>
    </div>
  </div>

  <hr />

  <h4>Total: {{ getTotal(cart.items) | currency }}</h4>
  <button class="btn btn-danger mt-3" (click)="clearCart()">Clear Cart</button>
</div>
